aiohttp==3.1.3
aioprocessing==1.0.0
async_armor==0.0.2
coincurve==7.1.0
decorator==4.2.1
ecdsa==0.13
gitpython==2.1.9
jsonrpcclient==2.5.2
jsonrpcserver==3.5.4
jsonrpc-async==0.6
numpy==1.14.0
protobuf==3.6.0
psutil==5.4.5
python-rocksdb==0.6.9
requests==2.18.4
aiohttp_cors==0.7.0
eth-utils==1.0.3
eth-keys==0.2.0b3
eth-bloom==1.0.0
absl-py==0.4.0

# Dependencies pulled from pydevp2p
# TODO: make pydevp2p submodule, or remove dependencies
pyelliptic==1.5.7
wheel
gevent>=1.1.0
bitcoin
ipaddress
coverage
tox
rlp>=0.6.0,<0.7.0
miniupnpc
pytest
